<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-small is-link">
        <div class="is-flex is-flex-direction-column is-align-content-start">
            <div class="column is-one-fifth is-flex is-justify-content-space-between ml-2">
                {{#if loggedIn}}
                <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
                <a href="/dashboard" class="navbar-item is-hoverable pt-1">dashboard</a>
                <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">create post</a>
                <button id="logout" class="button">Logout</button>
                {{else}}
                <a href="/" class="navbar-item is-hoverable pt-1">Home Page</a>
                <a href="/login">Login</a>
                {{/if}}
            </div>
            <div class="column hero-body is-one-quarter is-flex if-justify-content-left">
                <div class="is-flex is-justify-content-center">
                    <p class="title notification is-success">
                        The Tech Blog
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        {{{body}}}
    </section>
    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
                <a href="/">homepage</a>{{#if loggedIn}} |
                <a href="/dashboard/">dashboard</a> |
                <a href="/dashboard/create/">create new post</a>
                {{else}}
                | <a href="/login/">login</a>
                {{/if}}
            </p>
        </div>
        <div class="row-is-full content has-text-centered">
            <p>
                <strong>Tech Blog</strong> by <a href="https://github.com/b00000001">Aaron Deas</a> | made
                with <a href="https://bulma.io/">bulma</a> | source code:
                <a href="https://github.com/b00000001/tech-blog"><i class="fab fa-github"></i></a> |
                <a href="mailto:deas.aaron3@gmail.com"><i class="far fa-envelope"></i></a>
            </p>
        </div>
    </footer>
</body>

</html>